body{
	width:1000px;
	background-color:rgb(128,128,128);
	margin:0 auto;
}
img{
float:left;

}
.section{
		background-color:white;
	border-radius:10px;
	padding:5px 10px 5px 5px;
}
.section-one{

	height:50px;
}
.section-two{
		height:200px;
}
.section-three{

}
#top{
	text-align:center;
	margin-bottom:15px;
	margin-top:0px;

}
nav{

}
.menu{
	margin-top:0px;
	padding:0px;
	float:left;
	background:#AAA;
	min-width:120px;
	border-radius:10px;
	margin-right:5px;

}
ul{
		list-style-type: none;

}
li{
	padding-left:7px;

}
.menu>li:first-child{
	padding-top:5px;
}
.menu>li:last-child{
	padding-bottom:5px;
}
.menu-inside{
padding-left:30px;

}

main>p{
	text-indent:30px;
	margin-top:0px;
	text-align:justify;

}
main{

}
footer{
	text-align:center;
clear:both;

}

/* html */
aside{
	float:right;
	width:300px;
	text-align:justify;
	background:#999;
	padding:0 5px;
	border-radius:5px;
	margin-left:5px;
	margin-bottom:-14px;

}
aside>h3{
	margin:5px 0 0 0;
	text-align:center;
}
aside p{
	margin-top:0;
	margin-bottom:0;
	text-indent:30px;
}
article{
margin-left:120px;
text-align:justify;
text-indent:30px;
margin-top:-5px;
}
article>h1{
	margin-top:5px;
	margin-bottom:0;
	text-indent:0;
}
article p{
margin-top:0;
margin-bottom:0;
}
section h3{
	text-indent:0;
	margin-left:0;
	margin-bottom:0;
}
section>p{
	margin-top:0;
}
.up{
	margin-top:-23px;
}
/*  калькулятор */

table{
margin:0 auto;
	border-spacing:0px;
}

button{
	width:30px;
	height:30px;
}
#null{
	width:62px;
	height:30px;
}
#equal{
		height:62px;
	width:30px;
}
#result{
	height:20px;
	width:154px;
}
/*technologies*/

.main-tech{
margin-top:5px;
}
.main-tech p{
margin-bottom:0px;
}
dl{
	margin-top:0px;
}
dd{
	text-indent:30px;
}
/*css*/
.main-css{
margin-bottom:100px;
}
.main-css h2{
	margin-bottom:0;
}
.main-css p{
	margin-top:0;
	margin-bottom:0;
	text-indent:30px;
	text-align:justify;
}
/* bootstrap */
.main-bootstrap{
	margin-bottom:100px;
}
.main-bootstrap h2{
margin-bottom:0;
}
.main-bootstrap p{
		margin-top:0;
	margin-bottom:0;
	text-indent:30px;
	text-align:justify;
}
/* test */
.main-test form{
	float:left;
	margin-left:5px;
	width:850px;
	margin-top:10px;

}
.section-test{
height:600px;
}
form div{
	border:1px solid black;
	border-radius:5px;
	margin-bottom:5px;
	padding-left:5px;
}
#test #result{
	width:70px;
	padding:0;
}


